


  .div1 {
    background-color: lightgrey;
    width: 700px;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
  }


 
  

input[type=text], select, input[type=number] {
    width: 30%;
    padding: 3px 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px whitesmoke;
    border-radius: 3px;
    box-sizing: border-box;
}
  
  .button {
    background-color:rgb(255, 51, 51);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  .button_profile {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .button:hover, a:hover {
    opacity: 0.7;
  }
  .card {
      background-color:lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display:right;
  }
  .card2 {
    background-color:lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display:right;
}
  .title {
    color: grey;
    font-size: 18px;
  }

  
  .div3{
    background-image:url('https://www.todayonline.com/sites/default/files/styles/new_app_article_detail/public/photos/43_images/2012-09-29t120000z_1353880106_gm1e89t1sf701_rtrmadp_3_dbs.jpg?itok=weVMZuI7');
      height:100%;
      width:100%;
      background-repeat: no-repeat;
      background-size: cover;
background-attachment: fixed;
  }

  .customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 55%;
  }
  
  .customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }  
    .container {
        width: 100%;
      }
      
      .progressbar {
        counter-reset: step;
      }
      .progressbar li {
    float: left;
        display: inline-block;
        width: 30.33%;
        position: relative;
        text-align: center;
        cursor: pointer;
      }
      .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        line-height : 30px;
        border: 1px solid #ddd;
        border-radius: 100%;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        background-color: #fff;
        color: #bebebe;
      }
      .progressbar li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index : -1;
      }
      
      .progressbar li:first-child:after {
        content: none;
      }
      .progressbar li.active {
        color: green;
      }
      .progressbar li.active:before {
        border-color: green;
      } 
      .progressbar li.active + li:after {
        background-color: green;
      }

      .div4{
    
        width: 900px;
        
        border: 15px solid red;
        padding: 50px;
        margin: 20px;
  

      } 

      
  .button-appliedloan {
    background-color:red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:4px;
    
  }
  
  .select-style {
    border: 1px solid black;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    
}

.select-style select:focus {
    outline: none;
   
} 
  

.button-accept {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button-reject{
  
  background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

  
